# Database
POSTGRES_DB=message_bot
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_LOGIN=login
POSTGRES_PASS=password
DATABASE_URL=postgresql+asyncpg://login:password@localhost:5432/message_bot

# API                                                                 
API_HOST=0.0.0.0
API_PORT=8000
